html {
    font-size:125%; /*10 ÷ 16 × 100% * 2 = 125%*/
}

@media only screen and (min-width: 375px) and (max-width: 413px) {
    html {
        font-size: 146.484375% !important;
    }
}

@media only screen and (min-width: 414px) and (max-width: 479px) {
    html {
        font-size: 161.71875% !important;
    }
}

@media only screen and (min-width: 480px) and (max-width: 639px) {
    html {
        font-size: 187.5% !important;
    }
}

@media only screen and (min-width: 640px) {
    html {
        font-size: 250%;
    }
}

body {
    margin: 0rem;
    padding: 0rem;
    font-size: 100%;
    min-width: 320px;
}
